@use "variables";

html{
    scroll-behavior: smooth;
}
html, body{
    font-family: 'Liberation Sans', Helvetica, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
}

html, body, h1, h2, h3, h4, ul, ol{
    margin: 0;
}

h1{
    font-size: variables.$font_size5;
}

a{
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}

code {
    background-color: #eee;
    padding: 0 0.25em;
}

.nav, .text-section{
    padding: 0 variables.$global_horizontal_padding;
    //or we get problems with the padding not lining up
    box-sizing: border-box;
}
.main{
    padding-bottom: 14rem;
}

img, picture{
    max-width: 100%;
}

.container{
    max-width: variables.$container_max_width;
    margin: 0 auto;
}

p{
    margin-top: 0;
    line-height: 1.25em;
}

@media (prefers-color-scheme: dark) {
    body {
        color: #fff;
        background-color: #202020;
    }

    a:not(.btn) {
        &:link {
            color: rgb(110, 168, 254);
        }
        &:visited {
            color: rgb(167, 81, 233);
        }
        &:active {
            color: red;
        }
    }

    code {
        background-color: #4a4a4a;
    }
}