@use "variables";

.faq-container{
    margin-bottom: 1.5 * variables.$vertical_rhythm;

    p:last-of-type{
        margin-bottom: 0;
    }
}

.faq-question{
    font-weight: bold;
    margin-bottom: 0.25em;
}