@use "variables";

.header {
  padding: 0.75 * variables.$vertical_rhythm 0;
  background-color: black;
  color: white;
}

.nav {
  ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 1.5em 2em;
  }
  a {
    &:link {
      color: white;
    }
    &:visited {
      color: #aaa;
    }
  }

  .brand {
    font-weight: bold;
    a {
      color: white;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

@media screen and (min-width: 450px) {
  .nav ul {
    gap: 3em;
  }
}

@media screen and (max-width: 370px) {
  .nav ul {
    flex-direction: column;
  }
}
