/**
* Styles for the home page
*/

.home-header{
    position: relative;
    margin: 0 auto $vertical_rhythm / 2;
    max-width: $container_max_width;
}
.tagline-container{
    position: relative;
    z-index: 100;
}
.tagline-text{
    position: relative;
    top: -4px;
    margin-bottom: 8px;
}

.site-tagline{
    background-color: black;
    color: white;
    padding: 8px $global_horizontal_padding;
}
.tagline-overlay{
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.7;
    z-index: 1;
}

.callout {
    text-align: center;
    margin-top: $vertical_rhythm;
    .btn{
        font-size: $font_size3;
        padding: 12px 24px;
    }
}

@mixin non_mobile_shared_styles{
    .site-tagline{
        position: absolute;
        background-color: transparent;
        text-shadow: -1px 1px 0 black;
        padding: 16px;
    }
    .tagline-text{
        margin: 0;
        top: -8px;
    }
    .tagline-overlay{
        display: block;
    }
}


@include desktop_mq{
    @include non_mobile_shared_styles();
    .site-tagline{
        bottom: 0;
    }
    .tagline-title{
        font-size: $font_size7;
    }

    /*
    * Body copy
    */
    .home-copy{
        font-size: $font_size1;
    }
}

//title is below fold on small tablets in landscape mode
@include mini_tablet_landscape_mq{
    @include non_mobile_shared_styles();
    .site-tagline{
        top: 0;
        left: 0;
        bottom: initial;
        padding-bottom: 0;
    }
}


/**
* Carousel
*/
.embla {
    overflow: hidden;
}
.embla__container {
    display: flex;
}
.embla__slide {
    position: relative;
    min-width: 100%;
}

.carousel{
    position: relative;
    //from: https://stackoverflow.com/questions/3900436/image-scaling-by-css-is-there-a-webkit-alternative-for-moz-crisp-edges
    img{
        //https://stackoverflow.com/questions/8522047/why-is-this-container-div-taller-than-required-to-wrap-the-image-it-contains
        //otherwise there will be slight space below image
        display: block;
        image-rendering:optimizeSpeed;             /* Legal fallback */
        image-rendering:-moz-crisp-edges;          /* Firefox        */
        image-rendering:-o-crisp-edges;            /* Opera          */
        image-rendering:-webkit-optimize-contrast; /* Safari         */
        image-rendering:optimize-contrast;         /* CSS3 Proposed  */
        image-rendering:crisp-edges;               /* CSS4 Proposed  */
        image-rendering:pixelated;                 /* CSS4 Proposed  */
        -ms-interpolation-mode:nearest-neighbor;   /* IE8+           */
    }
}

.carousel-slide {

}

.carousel-button-container{
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
}

$carousel_button_horizontal_padding: 4px;

.carousel-right{
    right: 0;
    padding-right: $carousel_button_horizontal_padding;
}

.carousel-left{
    left: 0;
    padding-left: $carousel_button_horizontal_padding;
}

.carousel-button{
    position: relative;
    color: white;
    background-color: black;
    cursor: pointer;
    border-radius: 50%;
    padding: 28px;
    opacity: 0.6;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */

    &:hover{
        opacity: 0.8;
    }
}

//so buttons will be perfectly rounnd
.carousel-button-text{
    font-size: 1.3rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}