/*
* Styles for Resources page
*/

@use 'variables';

.resource-section{
    margin-bottom: 1.5 * variables.$vertical_rhythm;
}

.resource-source-list{
    list-style-type: square;
    margin-top: 1em;
    
    li{
        margin-bottom: 1em;
    }
}