/**
* Layout
*/
$global_horizontal_padding: 12px;
$vertical_rhythm: 24px;
$container_max_width: 1000px;

/**
* Font sizes
* using major 3rd type scale
* https://type-scale.com/
*/
// $font_size0: 1rem;
$font_size1: 1.25rem;
// $font_size2: 1.563rem;
$font_size3: 1.953rem;
// $font_size4: 2.441rem;
$font_size5: 3.05rem;
// $font_size6: 3.8125rem;
$font_size7: 4.766rem;